:root {
  --text-color: #2c2c2c;
  --accent-color: #bbf330;
  --background-color: #fefefe;
  --yellow-color: #ffe550;
  --dark-green-color: #7eb101;
  --white-color: #ffffff;
  --placeholder-color: #505050;
  --hover-color: #ade02b;
  --hover-border: #7baa05;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 16px;
  margin: 0 auto;

  width: 1280px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* -----HEADER----- */

.header-section {
  background-color: var(--background-color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-left: auto;
}

.header-nav > .item {
  display: block;
}

.header-nav > .item:not(:last-child) {
  margin-right: 28px;
}

.nav {
  position: relative;
  display: block;

  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 1.14;

  color: var(--text-color);
}

.nav::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 29px;

  width: 0;
  height: 1px;
  background-color: var(--accent-color);
  transition: width 0.5s, left 0.5s;
}

.nav.current::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 29px;

  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.nav:hover::after,
.nav:focus::after {
  width: 100%;
  left: 0;
}

.nav:hover,
.nav:focus,
.nav.current {
  color: var(--accent-color);
}

.primary-btn {
  min-width: 98px;
  height: 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;

  color: var(--text-color);
  background: var(--accent-color);
  border-radius: 30px;
  border: transparent;
  cursor: pointer;
}

.head.primary-btn {
  margin-right: 0;
  margin-left: 30px;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -----HERO----- */

.hero-box {
  width: 502px;
}

.hero-title {
  margin-top: 150px;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;

  color: var(--text-color);
}

.hero-text {
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 1.5;

  color: var(--text-color);
}

/* -----GALLERY----- */
.container.hero {
  position: relative;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}

.hero-box {
  display: inline-block;
  margin-right: auto;
  align-items: center;
}

.gallery-box {
  position: absolute;
  top: 14px;
  right: 30px;
  display: inline-block;
  margin-left: auto;

  width: 580px;
  height: 580px;
  background-color: var(--background-color);

  border: 26px solid var(--yellow-color);
  border-radius: 50%;
  overflow: hidden;
}

/* -----OFFERINGS----- */
.offer.section {
  background-position: center;
  background-image: url(../images/fon.jpg);
  background-repeat: no-repeat;
}

.offer.container {
  display: flex;
}

.offer-box {
  width: 573px;
  margin-bottom: 0;
  margin-top: auto;
  margin-right: 51px;
  margin-left: auto;
}

.offer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;

  color: var(--text-color);
}

.offer-text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;

  color: var(--text-color);
}

.offer-list {
  display: flex;
}

.offer-item:first-child {
  margin-right: 67px;
}

.offer-subtitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;

  color: var(--text-color);
}

.offer-item.rocket::before {
  display: block;
  content: '';
  background-size: 32px 32px;
  background-image: url(../images/rocket.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;

  width: 48px;
  height: 48px;
  background-color: var(--background-color);
  border-radius: 50%;
}

.offer-item.touch::before {
  display: block;
  content: '';
  background-size: 32px 32px;
  background-image: url(../images/touch_app.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;

  width: 48px;
  height: 48px;
  background-color: var(--background-color);
  border-radius: 50%;
}

.offer-desc {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}

.offer-btn {
  min-width: 106px;
  height: 40px;

  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;

  color: var(--text-color);
  background-color: var(--white-color);
  border: 2px solid var(--dark-green-color);
  border-radius: 30px;
  cursor: pointer;
}

.offer-btn:hover,
.offer-btn:focus {
  border-color: var(--hover-border);
  background-color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* FAVORITES */

.menu-title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;

  color: var(--text-color);
}

.menu-text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--text-color);
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 31px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 395px;
  height: 397px;
  background-color: var(--white-color);

  border: 16px solid var(--yellow-color);
  border-radius: 50%;
}

/* -----CUSTOMERS----- */
.customer.section {
  padding-bottom: 200px;

  background-image: url(../images/fon_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: unset;
}

.customer-title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.17;

  color: var(--text-color);
}
.customer-text {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.19;

  color: var(--text-color);
}

.customer-list {
  display: flex;
}

.customer-item {
  width: 501px;
  padding: 14px;
  background-color: var(--background-color);
  border-radius: 0 30px 30px 30px;
}

.customer-item:first-child {
  margin-right: 132px;
}

.customer-box {
  margin-bottom: 28px;
  background-color: var(--background-color);
}

.customer-comment {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;

  color: var(--text-color);
}

.customer-wrapper {
  display: flex;
  width: 160px;
  border-right: 1px solid var(--dark-green-color);
}

.customer-desc {
  margin-right: 16px;
  margin-left: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.customer-name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}

.customer-subtext {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
}

/* -----Subscribe----- */
.subscribe.section {
  padding-top: 0;
}

.subscribe.container {
  display: flex;
  position: relative;
}

.subscribe-box {
  width: 656px;
}

.subscribe-title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.2;

  color: var(--text-color);
}

.subscribe-text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;

  color: var(--text-color);
}

.subscribe-form {
  display: flex;
}

.subscribe-label {
  margin-right: 32px;
}

.subscribe-input {
  display: block;
  padding-left: 11px;
  width: 395px;
  height: 42px;

  outline: none;
  background-color: var(--background-color); /* Yellow main */

  border: 0.854167px solid var(--yellow-color);
  border-radius: 30px;
}

input::placeholder {
  font-size: 12px;
  line-height: 1.5;

  color: var(--placeholder-color);
}

.subscribe-input:focus {
  outline: none;
  border: 0.854167px solid var(--accent-color);
}

.subscribe-btn {
  display: block;
  width: 103px;
  height: 42px;

  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;

  color: var(--text-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 30px;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--background-color);
  border: 0.854167px solid var(--dark-green-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-img {
  position: absolute;
  right: 0;
  bottom: -10%;
}

/* -----FOOTER----- */
.footer.section {
  background: var(--background-color);
  background-image: url(../images/fruit_footer.jpg);

  background-repeat: no-repeat;
  background-position: center bottom;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer-box {
  display: flex;
  margin-bottom: 80px;
}

.footer-logo {
  display: block;
  margin-right: 148px;
}

.footer-nav {
  display: flex;

  gap: 28px;
}

.footer-nav > .item {
  text-align: center;
  height: 52px;
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 1.14;

  color: var(--text-color);
}

.nav-link::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 18px;

  width: 0;
  height: 1px;
  background-color: var(--accent-color);
  transition: width 0.5s, left 0.5s;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
  left: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.footer-form {
  display: flex;

  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
  width: 400px;
}

.form-thumb {
  margin-bottom: 12px;
}

.form-field {
  /* display: inline-flex;
  flex-direction: column; */

  margin-right: 13px;
  margin-bottom: 12px;
  width: 279px;
}
.label {
  display: block;

  margin-bottom: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  color: var(--text-color);
}
.footer-input {
  padding-left: 12px;
  width: 279px;
  height: 42px;

  background-color: var(--background-color);
  outline: none;
  border: 0.854167px solid var(--yellow-color);
  border-radius: 30px;
}

.footer-input:focus {
  outline: none;
  border: 0.854167px solid var(--accent-color);
}

.footer-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 42px;

  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;

  color: var(--text-color);
  background-color: var(--white-color);
  border: 0.854167px solid var(--dark-green-color);
  border-radius: 30px;
  cursor: pointer;
}

.footer-btn:hover,
.footer-btn:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-text {
  display: inline-flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  color: var(--text-color);
}

.form-link {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  color: var(--dark-green-color);
}

.form-link::after {
  content: '';
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 1px;
  height: 1px;
  background-color: var(--dark-green-color);
}

.form-link:hover {
  color: var(--hover-border);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-link:hover::after {
  background-color: var(--hover-border);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  gap: 20px;
}

.footer-item {
}
.footer-link {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;

  color: var(--dark-green-color);
}

.footer-link::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 1px;
  background-color: var(--dark-green-color);
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  color: var(--text-color);
}
